{
  "project_info": {
    "project_number": "109013588296",
    "project_id": "game-edukasi-b5995",
    "storage_bucket": "game-edukasi-b5995.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:109013588296:android:adeeb03ab9952c7897bb7d",
        "android_client_info": {
          "package_name": "com.edukasi.game_edukasi"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
